.sagir {
  margin: 0px;
}

/* .navbar {
  position: sticky;
  top: 0px;
  margin-top: 100px;
} */

.navbarUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  background-color: rgb(14, 2, 77);
  color: white;

  /* position: relative; */
}

.navinfobar {
  display: flex;
}

.navinfo {
  margin: 12px 0;
}

.navinfo h4 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-size: 15px;
}

.navinfo p {
  margin: 0;
  font-family: sans-serif;
}

.navBorder {
  border-right: 1px solid rgb(73, 64, 64);
  margin: 10px 10px;
}

.navbarUp button {
  padding: 12px 30px;
  margin-left: 5px;
  background-color: orange;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;

}

.navbarUp .icon {
  padding-right: 6px;
}

.navbarDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  background-color: whitesmoke;

}



.navbarDown h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(14, 2, 77);
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}



.link {
  display: flex;
  gap: 20px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 14px;
}

.ancor {
  cursor: pointer;
}

.linkbar {
  display: flex;
  align-items: center;
}

.aicon {
  color: rgb(14, 2, 77);
  font-size: 24px;
  padding-left: 18px;
  cursor: pointer;
}

.ancor:hover {
  color: rgb(252, 177, 38);
}


.slider {
  background-image: url('../public/Slider-2.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  width: full;
  height: 700px;
  /* other styles */
}

.sliderr {
  background-color: rgba(0, 0, 0, 0.225);
  height: 700px;
}

.infoBanner {
  margin-left: 150px;
  padding-top: 100px;
  color: rgba(240, 238, 245, 0.952);
}

.infoBanner h2 {
  font-size: 40px;
  font-family: sans-serif;
}

.infoBanner h1 {
  font-size: 44px;
  font-family: sans-serif;
}

.infoBanner ul {
  font-family: sans-serif;

}



.btn1 {
  margin-left: px;
  margin-top: 10px;
  padding: 15px 50px;
  border: 2px solid white;
  font-size: medium;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.153);
  transition-duration: .5s;
}

.btn2 {
  margin-left: 5px;
  margin-top: 10px;
  padding: 15px 50px;
  border: 2px solid orange;
  font-size: medium;
  font-weight: 600;
  color: white;
  background-color: orange;
  transition-duration: .5s;
}

.btn1:hover {
  background-color: white;
  color: black;
  transition-duration: .5s;
}

.btn2:hover {
  color: black;
  transition-duration: .5s;
}

.introSection {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 80%;
  height: 100%;
}

.image2 {
  width: full;
  height: 100%;
}

.image2 img {
  height: 100%;
}

.introInfo2 {
  width: full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 50px;
  margin-left: 40px;
}

.introInfo2 h1 {
  margin-top: 5px;
  font-family: sans-serif;
  color: rgb(13, 3, 66);
}

.introInfo2 h2 {
  margin-top: 5px;
  padding-bottom: 10px;
  font-family: sans-serif;
  color: rgb(100, 111, 121);
  margin: 0;
}

.introBorders {
  display: flex;
}

.introBorder1 {
  width: 50px;
  border-bottom: 2px solid orange;
  margin-right: 10px;
  margin-bottom: 20px;
}

.introBorder2 {
  width: 20px;
  border-bottom: 2px solid orange;
  margin-right: 10px;
  margin-bottom: 20px;
}

.introDetail {
  width: 100%;
  /* height: 150px; */
  overflow: hidden;
  margin-top: 0;
  font-family: sans-serif;
}



.introBtn {
  width: 200px;
  padding: 15px 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: whitesmoke;

  transition-duration: .5s;
  background-color: rgb(11, 3, 50);

}

.introBtn:hover {
  /* border: 2px solid ; */
  background-color: rgb(238, 238, 242);
  color: rgb(7, 1, 39);
  cursor: pointer;
  transition-duration: .5s;
  border: 2px solid rgb(7, 1, 39);
}



.facilitySection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.verticalLine {
  margin-top: 80px;
  width: 80%;
  border-top: 1px solid rgb(179, 189, 198);
}

.facilityCourses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.facilityCourse {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  box-shadow: rgb(215, 212, 212) 1px 2px 10px .1px;
  padding: 60px 30px;
}

.facilityIcon1 {
  font-size: 65px;
  color: rgb(12, 109, 212);
  margin-right: 10px;
}

.facilityIcon2 {
  font-size: 65px;
  color: rgb(12, 195, 212);
  margin-right: 10px;
}

.facilityIcon3 {
  font-size: 65px;
  color: rgb(3, 183, 3);
  margin-right: 10px;
}

.facilityInfo {
  /* border: 1px solid red; */
}

.facilityCourses h3 {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: sans-serif;

}

.facilityInfo a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(77, 81, 85);
  font-family: sans-serif;
  font-size: 14px;
}

.speciality {
  display: flex;
  margin-top: 100px;
}

.image3 {
  width: 50%;
  height: full;
}

.image3 img {
  width: 100%;
  height: 100%;
}

.specialityInfo {
  width: 50%;
  background-color: rgb(2, 2, 54);
  color: rgb(220, 212, 212);
  padding: 50px 0;

}

.specialityBorders {
  display: flex;
  padding: 0 40px;
}

.specialityBorder1 {
  width: 50px;
  border-bottom: 3px solid orange;
  margin-right: 10px;
  margin-bottom: 20px;
}

.specialityBorder2 {
  width: 20px;
  border-bottom: 3px solid orange;
  margin-right: 10px;
  margin-bottom: 20px;
}

.specialityInfo p {
  padding: 0 40px;
  color: rgb(165, 161, 161);
}

.specialityInfo h2 {
  padding: 0 40px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: rgb(200, 205, 210);
}



.specialCourse {
  display: flex;
  padding: 0 40px;
  margin-top: 40px;
  /* justify-content: center; */
  /* align-items: center; */
}

.specialIcon {
  font-size: 45px;
  border: 1px solid rgb(73, 70, 70);
  padding: 18px;
  color: orange;
  height: 50px;
  width: 100px;
  text-align: center;
}

.specialCourse h2 {
  margin: 0;
  font-size: 18px;
  /* border: 2px solid red; */

}

.specialCourse p {
  margin: 0;
  margin-top: 10px;
  color: rgb(165, 161, 161);

}

.specialBorder4 {
  border-bottom: 1px dashed rgb(98, 93, 93);

  margin: 0 40px;
  margin-top: 40px;
}

.specialBorder5 {
  border-bottom: 1px dashed rgb(98, 93, 93);

  margin: 0 40px;
  margin-top: 40px;
}

.featured {
  width: 100%;
  display: flex;
  justify-content: center;
}

.featuredDetail {
  width: 80%;
  display: flex;
  margin-top: 100px;
}

.featuredImage {
  width: 40%;

}

.featuredImage img {
  width: 100%;
  height: 100%;
}

.featuredInfo {
  width: 60%;
}

.featuredInfo h1 {
  margin-left: 40px;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(3, 3, 69);
  ;
}

.featuredInfo h3 {
  margin-left: 40px;
  font-family: sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: orange;
}

.featuredInfo p {
  margin-left: 40px;
  font-family: sans-serif;
  color: slategray;
}

.featuredInfo h2 {
  margin-left: 40px;
  font-family: sans-serif;
  color: rgb(3, 3, 69);
}

.featuredIcon {
  color: orange;
}

.featuredInfo button {
  margin-left: 40px;
  padding: 18px 50px;
  margin-top: 20px;
  font-weight: 700;
  background-color: orange;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  transition-duration: .5s;
}

.featuredInfo button:hover {
  color: white;
  transition-duration: .5s;
}

.featuredBorder {
  border-bottom: 1px solid rgb(238, 240, 242);
  margin-top: 20px;
  margin-left: 40px;
}

.featuredAuthor {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  text-transform: uppercase;

}

.featuredAuthor h4 {
  margin: 0;
  margin-top: 15px;
  font-family: sans-serif;
  color: rgb(95, 95, 106);
}

.featuredAuthor h5 {
  font-family: sans-serif;
  color: gray;
  margin: 0;
  margin-top: 15px;
}

.authorBorder {
  border-left: 1px solid rgb(234, 233, 233);
}

.authorRatings {
  margin-right: 60px;
}

.authorIcon {
  margin-top: 10px;
  color: orange;
}

.coursesSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: rgb(238, 242, 245);
  padding: 100px 0;
}

.coursesDetail {
  width: 80%;
}

.courseInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseInfo h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(3, 3, 69);

}

.courseBorders {
  display: flex;
  margin-bottom: 10px;
}

.courseBorder1 {
  border-bottom: 3px solid orange;
  width: 50px;
  margin-right: 5px;
}

.courseBorder2 {
  border-bottom: 3px solid orange;
  width: 50px;
}

.courseInfo p {
  text-align: center;
  width: 70%;
  font-family: sans-serif;
  color: rgb(97, 110, 123);

}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-top: 70px;
  gap: 30px;
}

.course {
  box-shadow: rgb(192, 189, 189) 1px 1px 10px 0.1px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: auto;
  /* border: 1px solid red; */
}

.courseImage {
  width: 100%;
  height: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.courseImg1 {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.coursePrice {
  text-align: center;
  background-color: rgb(228, 224, 224);
  padding: 15px 0;
  font-family: sans-serif;
  /* font-weight: ; */
}

.courseTeacher {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}

.courseTeacherImg {
  width: 60px;
  height: 60px;
  /* display: flex; */
  margin-right: 40px;
}

.courseTeacher img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgb(179, 173, 89);
  padding: 5px;

}

.courseTeacher h4 {
  margin: 0;
  color: rgb(80, 78, 78);
  text-transform: uppercase;
}

.courseIcon {
  margin-top: 10px;
  color: rgb(248, 190, 83);
}

.courseRatings {
  color: gray;
}

.course h2 {
  margin-left: 30px;
  margin-top: 30px;
  color: rgb(3, 3, 63);
}

.courseDetails {
  margin: 0 30px;
  font-family: sans-serif;
  color: gray;
}

.courseBorder3 {
  border-bottom: 1px solid rgb(199, 195, 195);
  margin-top: 15px;

}

.courseTime {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}

.timeClock {
  display: flex;
  /* margin: 30px 0; */
}

.user {
  background-color: rgb(219, 215, 215);
  padding: 8px;
}

.clock {
  background-color: rgb(219, 215, 215);
  padding: 8px;
  margin-left: 5px;
}

.courseEnroll {
  border: none;
  background-color: rgb(243, 182, 70);
  padding: 10px 20px;
  border-radius: 20px;
  color: rgb(3, 3, 62);
  transition-duration: .5s;
  font-weight: 700;
}

.courseEnroll:hover {
  color: white;
  transition-duration: .5s;
}

.coursesButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.coursesBtn {
  border: 2px solid rgb(5, 1, 53);
  padding: 15px 25px;
  margin-top: 20px;
  color: rgb(2, 2, 51);
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition-duration: .5s;
}

.coursesBtn:hover {
  background-color: rgb(2, 2, 59);
  color: whitesmoke;
}

.rewardSection {

  background-image: url('../public/airplane.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: full;

}

.rewardItems {
  background-color: rgba(4, 11, 82, 0.501);
  padding: 100px 0;

}

.rewards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10%;
  gap: 50px;

}

.reward {
  text-align: center;
  border: 1px solid rgb(99, 98, 98);
}



.reIcon {
  font-size: 40px;
  color: rgb(246, 196, 32);
  margin: 10px;

}

.reward h2 {
  font-weight: 900;
  margin: 10px;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
}

.reward h3 {
  font-family: sans-serif;
  color: rgb(210, 204, 204);
}

.departmentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.departmentSection h1 {
  margin: 20px 0;
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(15, 4, 61);
}

.departmentBorders {
  display: flex;
  margin-bottom: 30px;
}

.departmentBorder {
  border-top: 3px solid #e9d24f;
  width: 40px;
  margin-left: 5px;

}

.departments {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

}



.department {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* .frame {
  position: relative;
  overflow: hidden;
} */

.department img {
  width: 100%;
  height: 250px;
}

.departmentImg {
  overflow: hidden;
}

.department h3 {
  text-align: center;
  background-color: rgb(190, 201, 212);
  color: rgb(82, 81, 81);
  margin: 0;
  padding: 10px 0;
}

.departmentDetail {
  display: none;
  text-transform: uppercase;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.departmentDetail button {
  padding: 13px 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  transition-duration: .5s;
  color: rgb(45, 44, 44);
}

.departmentDetail button:hover {
  background-color: rgb(12, 4, 71);
  color: whitesmoke;
  transition-duration: .5s;
}

.department:hover .departmentDetail {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: rgba(14, 3, 44, 0.501);
  transition-duration: .5s;

}

.department:hover .depImg {
  transform: scale(1.5);
  transition: ease-in-out .9s;
}

.departmentButton {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.departmentBtn {
  border: 2px solid rgb(5, 1, 53);
  padding: 15px 25px;
  margin-top: 20px;
  color: rgb(2, 2, 51);
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition-duration: .5s;
}

.departmentBtn:hover {
  background-color: rgb(2, 2, 59);
  color: whitesmoke;
}

.reviewsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 3, 46, 0.948);
  padding: 100px 0;
}

.reviewsSection h1 {
  color: rgb(251, 253, 253);
  font-family: sans-serif;
  font-size: 32px;
}

.reviewsBorders {
  display: flex;
}

.reviewsBorder1 {
  border-bottom: 3px solid #e5a825;
  width: 40px;
  margin-right: 5px;
}

.reviewsBorder2 {
  border-bottom: 3px solid #e5a825;
  width: 40px;
}

.reviewsDescript {
  width: 50%;
  margin-bottom: 40px;
  color: rgb(181, 180, 180);
  text-align: center;
  font-family: sans-serif;
}

.reviews {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.review {
  display: flex;
  border: 1px solid rgb(56, 56, 56);
  height: 150px;
  padding: 30px;
  border-radius: 5px;

}

.reviewImg {
  width: 100%;
  border-radius: 5px;
}

.review img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.reviewDetails {
  margin-left: 20px;
  font-family: sans-serif;
  color: whitesmoke;
  color: rgb(158, 157, 157);

}

.reviewDetails p {
  margin: 0;

}

.reviewDetails h3 {
  margin: 20px 0;
  color: rgb(177, 176, 176);
}

.reviewCourse {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  color: orange;
  font-family: sans-serif;
}

/* Notice section */

.noticeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.noticeBoard {
  width: 80%;
  /* border: 2px solid rgb(93, 86, 86); */
  /* padding: 20px; */
  box-shadow: rgb(157, 157, 158) 1px 2px 20px .1px;

}

.noticeTitle {
  margin-bottom: 40px;
  font-family: sans-serif;
  font-size: 32px;
  color: rgb(6, 3, 68);
  text-transform: uppercase;
}

.noticeHeading {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.headingGeneral {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(80, 80, 250);
  /* text-transform: uppercase; */
  font-family: sans-serif;
}

.headingNews {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(242, 244, 131);
  /* text-transform: uppercase; */
  font-family: sans-serif;
}

.headingDownloads {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(242, 100, 152);
  /* text-transform: uppercase; */
  font-family: sans-serif;
}

.headingGeneral h2 {
  /* margin: 0; */
}

.noticeNewses {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.noticeNews {
  display: flex;
  align-items: center;
  /* justify-content: start; */
  justify-content: flex-start;
  margin-bottom: 10px;
  box-shadow: rgb(226, 226, 227) 1px 2px 30px .1px;

}

.general {
  /* box-shadow: gray 1px 2px 10px .1px; */
  height: 500px;
  overflow-y: scroll;
  scroll-margin-right: 80px;
}

.news {
  /* box-shadow: gray 1px 2px 10px .1px; */
  height: 500px;
  overflow-y: scroll;
}

.downloads {
  /* box-shadow: gray 1px 2px 10px .1px; */
  height: 500px;
  overflow-y: scroll;
}

.noticeHead {
  /* border: 1px solid red; */
  width: 150px;
  background-color: rgba(208, 209, 239, 0.821);
  padding: 5px;
}

.noticeHead h2 {
  margin: 0;
  /* border: 2px solid red; */
  color: rgb(4, 4, 95);
}

.noticeHead p {
  /* border: 1px solid red; */
  margin: 0;

}

.noticeTail {
  margin: 0;
  padding: 0 10px;
}

.noticeTail a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(48, 33, 33);
}

.noticeTail a:hover {
  color: rgb(7, 7, 173);
}

.noticeButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.noticeButton a {
  text-decoration: none;
  font-size: 20px;
  background-color: whitesmoke;

  border: 2px solid rgb(1, 1, 46);
  color: rgb(1, 1, 46);

  padding: 10px 40px;
  border-radius: 5px;
  transition-duration: .5s;
}

.noticeButton a:hover {
  color: rgb(250, 174, 32);
  background-color: rgb(4, 4, 83);
  color: whitesmoke;

}

/* Registration section */
.registrationSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(216, 216, 240);
}

.registration {
  width: 80%;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.registrationInfo {
  width: 50%;
}

.registrationTitle {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(2, 2, 47);
}

.registrationInfo p {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;

}



.registrationInfo input {
  width: 450px;
  padding: 15px 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

.registrationInfo input:hover {
  /* background-color: rgba(66, 63, 78, 0.215); */
  border: none;
  outline: none;

}

.registrationSubmit {
  width: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationSubmit input {
  display: flex;
  width: 60%;
  justify-content: center;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(79, 78, 78);
  transition-duration: .5s;
  background-color: rgb(254, 255, 255);
}

.registrationSubmit input:hover {
  background-color: rgb(3, 3, 58);
  color: whitesmoke;
}

.registrationImage {
  width: 50%;

}

.registrationImage img {
  width: 80%;
  height: 100%;
  margin-bottom: -80px;
}

.gallerySection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(224, 226, 241, 0.944);
  padding: 100px 0;
}

.gallerySection h1 {
  font-family: sans-serif;
  /* text-transform: uppercase; */
  font-size: 30px;
  font-weight: 900;
  color: rgb(1, 1, 47);
}

.gallerySection h2 {
  font-family: sans-serif;
  font-size: 22px;
  color: rgb(1, 1, 47);
}

.gallery {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ggg {
  width: 60%;
  height: 100%;
}

.galleryImages {
  width: 100%;
  display: flex;
  gap: 15px;
  height: 100%;
}

.galleryImagescol {
  height: 100%;
  width: 33.3333%;

}

.galleryImage {
  margin-top: 15px;
  width: 100%;
  height: 160px;
}

.galleryImage img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* margin: 5px; */
}

.galleryVideos {
  width: 40%;
  margin-left: 60px;
}

.videos {
  height: 100%;
}

.galleryVideo {
  width: 100%;
  height: 160px;
  padding-top: 15px;
}

.galleryVideo img {
  width: 100%;
  height: 100%;
  /* padding-top: 5px; */
  border-radius: 5px;
}

.organization {
  text-align: center;
  background-color: rgb(213, 210, 210);
  padding: 50px 0;
  padding-bottom: 60px;
}

.organization h2 {
  margin: 0;
  font-family: sans-serif;
  color: rgb(74, 74, 74);
  text-transform: uppercase;
}

.organization h3 {
  margin-bottom: 50px;
  font-family: sans-serif;
  color: rgb(83, 89, 94);

}

.logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logos img {
  height: 80px;
  width: 140px;
}

.locationSection {
  background-image: url('../public/airplane.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: full;
  display: flex;
  justify-content: center;
}

.locationImage {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(4, 3, 71, 0.44);
}

.location {
  width: 80%;
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.locationInfo {
  margin-top: 30px;
  color: whitesmoke;
}

.locationHotline {
  display: flex;
}

.locationHotline p {
  margin-right: 10px;
}



.locationInfo h2 {
  font-family: serif;
  text-transform: uppercase;
  font-size: 30px;
}

.locationBorder {
  border-bottom: 2px solid #e9e4e4;
}

.footerSection {
  background-color: rgb(7, 2, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.footerInfo {
  width: 80%;
  color: rgb(176, 174, 174);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: space-between;
  padding: 80px 0;
  font-family: sans-serif;
}


.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo img {
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.footerInfo h3 {
  text-transform: uppercase;
  font-family: sans-serif;
}

.footerLogo h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;

}

.footerInfo i {
  padding: 5px 5px;
  margin: 5px;
  font-size: 22px;
  background-color: rgba(87, 81, 81, 0.434);
  color: rgb(243, 200, 8);
}

.usefullLinks {
  margin-left: 10px;
}

.usefullLinks a {
  /* margin-top: 22px; */
  /* padding: 10px; */
}

.footerInfo a {
  text-decoration: none;
  color: rgb(169, 168, 167);
  font-family: sans-serif;

}

.footerInfo a:hover {
  color: orange;
}

.footerLinks p {
  text-decoration: none;
  margin: 0;
}

.footerBorder {
  border-bottom: 1px solid #7f7777;
  width: 100%;
}

.copyrightInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(232, 227, 227);
}

.copyright {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.terms {
  display: flex;
}

.termsBorder {
  border-left: 2px solid #4f4d4d;
  margin: 18px 10px;
}

.techpark {
  color: orange;
}